apps/n8n/workflows/container-crash-agent-analysis.json
{
  "name": "Container Crash Agent Analysis",
  "nodes": [
    {
      "id": "trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      }
    },
    {
      "id": "check-containers",
      "name": "Check Containers",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "command": "docker ps -a --format '{{.Names}}|{{.Status}}|{{.State}}' | grep -E 'Exited|unhealthy|Restarting' || echo 'NO_FAILURES'"
      }
    },
    {
      "id": "parse-failures",
      "name": "Parse Failures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "jsCode": "// Get raw input\nconst rawInput = $input.first();\nconst rawJson = rawInput ? rawInput.json : null;\nconst stdout = rawJson?.stdout || rawJson?.output || rawJson?.data || '';\n\n// Check for no failures - return empty array to stop workflow\nif (!stdout || stdout.trim() === 'NO_FAILURES' || !stdout.trim()) {\n  return [];\n}\n\n// Parse failed containers\nconst lines = stdout.split('\\n').filter(l => l.trim());\nconst results = [];\n\nfor (const line of lines) {\n  const parts = line.split('|');\n  if (parts.length >= 3) {\n    const name = parts[0].trim();\n    const status = parts[1].trim();\n    const state = parts[2].trim();\n    \n    const exitMatch = status.match(/Exited \\((\\d+)\\)/);\n    const exitCode = exitMatch ? exitMatch[1] : null;\n    \n    results.push({\n      json: {\n        container_name: name,\n        status: status,\n        state: state,\n        exit_code: exitCode,\n        timestamp: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "id": "get-logs",
      "name": "Get Logs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "command": "CONTAINER='{{ $json[\"container_name\"] }}'; if [ -n \"$CONTAINER\" ]; then docker logs --tail 50 \"$CONTAINER\" 2>&1; else echo 'ERROR: No container name provided'; fi"
      }
    },
    {
      "id": "build-task",
      "name": "Build Agent Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "parameters": {
        "jsCode": "// Use $itemIndex to get the correct container\nconst allContainers = $('Parse Failures').all();\nconst container = allContainers[$itemIndex]?.json || allContainers[0]?.json;\nconst logs = $input.first().json.stdout || 'No logs available';\n\nconst truncatedLogs = logs.length > 2000 \n  ? logs.substring(logs.length - 2000) \n  : logs;\n\n// Determine severity\nlet severity = 'medium';\nconst exitCode = container?.exit_code;\nconst status = container?.status || '';\nif (exitCode === '137' || status.includes('unhealthy')) {\n  severity = 'high';\n} else if (exitCode === '1' || exitCode === '2') {\n  severity = 'high';\n} else if (status.includes('Restarting')) {\n  severity = 'high';\n}\n\nconst task = `Analyze this Docker container failure and determine the root cause.\n\n## Container Details\n- **Name**: ${container?.container_name || 'unknown'}\n- **Status**: ${container?.status || 'unknown'}\n- **State**: ${container?.state || 'unknown'}\n- **Exit Code**: ${container?.exit_code || 'N/A'}\n- **Severity**: ${severity}\n- **Detected At**: ${container?.timestamp || new Date().toISOString()}\n\n## Recent Logs (last 50 lines)\n\\`\\`\\`\n${truncatedLogs}\n\\`\\`\\`\n\n## Instructions\n1. Analyze the provided logs for obvious errors\n2. Use search_skills('docker') or search_skills('troubleshoot') to find relevant guides\n3. If needed, use run_on_server() for docker commands (docker is NOT installed locally - only available on the host server)\n4. Determine the root cause and recommended fix\n5. Call task_complete with your analysis including:\n   - Root cause of the failure\n   - Recommended fix\n   - Severity assessment (critical/warning/info)\n   - Whether auto-restart is recommended`;\n\nreturn [{\n  json: {\n    task: task,\n    working_directory: '/tmp',\n    model: 'auto',\n    max_steps: 15,\n    source: 'n8n',\n    triggered_by: 'container-crash-monitor',\n    _container_name: container?.container_name || 'unknown',\n    _exit_code: container?.exit_code || null,\n    _severity: severity\n  }\n}];"
      }
    },
    {
      "id": "call-agent",
      "name": "Call Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "parameters": {
        "method": "POST",
        "url": "http://local-ai-router:8000/agent/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task: $json.task, working_directory: $json.working_directory, model: $json.model, max_steps: $json.max_steps, source: $json.source, triggered_by: $json.triggered_by }) }}",
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "check-success",
      "name": "Agent Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "format-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200],
      "parameters": {
        "jsCode": "const agentResult = $input.first().json;\nconst taskData = $('Build Agent Task').first().json;\n\nreturn [{\n  json: {\n    status: 'success',\n    run_id: agentResult.run_id || null,\n    container_name: taskData._container_name,\n    exit_code: taskData._exit_code,\n    severity: taskData._severity,\n    agent_analysis: agentResult.final_answer || 'No analysis provided',\n    steps_taken: agentResult.total_steps || 0,\n    terminated_reason: agentResult.terminated_reason || 'unknown',\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 400],
      "parameters": {
        "jsCode": "const agentResult = $input.first().json;\nconst taskData = $('Build Agent Task').first().json;\n\nreturn [{\n  json: {\n    status: 'error',\n    run_id: agentResult.run_id || null,\n    container_name: taskData._container_name,\n    exit_code: taskData._exit_code,\n    severity: taskData._severity,\n    error: agentResult.terminated_reason || agentResult.error || 'Unknown error',\n    steps_taken: agentResult.total_steps || 0,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [[{ "node": "Check Containers", "type": "main", "index": 0 }]]
    },
    "Check Containers": {
      "main": [[{ "node": "Parse Failures", "type": "main", "index": 0 }]]
    },
    "Parse Failures": {
      "main": [[{ "node": "Get Logs", "type": "main", "index": 0 }]]
    },
    "Get Logs": {
      "main": [[{ "node": "Build Agent Task", "type": "main", "index": 0 }]]
    },
    "Build Agent Task": {
      "main": [[{ "node": "Call Agent", "type": "main", "index": 0 }]]
    },
    "Call Agent": {
      "main": [[{ "node": "Agent Succeeded?", "type": "main", "index": 0 }]]
    },
    "Agent Succeeded?": {
      "main": [
        [{ "node": "Format Success", "type": "main", "index": 0 }],
        [{ "node": "Format Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "updatedAt": "2025-12-31T00:00:00.000Z",
  "versionId": "3"
}
