apps/n8n/workflows/telegram-ai-bot-minimal.json
{
  "name": "Telegram AI Bot - Server Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "telegram-ai-bot"
    },
    {
      "parameters": {
        "jsCode": "// Extract message and user info\nconst message = $input.first().json.message;\nconst chatId = message.chat.id;\nconst userId = message.from.id;\nconst username = message.from.username || message.from.first_name || 'Unknown';\nconst text = message.text || '';\n\n// Check if user is authorized (you can add your Telegram user ID here)\nconst authorizedUsers = [];\n\nconst isAuthorized = authorizedUsers.length === 0 || authorizedUsers.includes(userId);\n\nreturn [{\n  json: {\n    chatId: chatId,\n    userId: userId,\n    username: username,\n    message: text,\n    isAuthorized: isAuthorized,\n    originalMessage: message\n  }\n}];"
      },
      "id": "parse-message",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-authorized",
              "leftValue": "={{ $json['isAuthorized'] }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-authorization",
      "name": "Check Authorization",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json['chatId'] }}",
        "text": "⛔ Unauthorized. You don't have permission to use this bot.",
        "additionalFields": {}
      },
      "id": "send-unauthorized",
      "name": "Send Unauthorized Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "command": "docker ps",
        "additionalFields": {}
      },
      "id": "execute-command",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "// Format command execution result\nconst messageData = $('Parse Message').first().json;\nconst execResult = $('Execute Command').first().json;\n\nconst stdout = execResult.stdout || '';\nconst stderr = execResult.stderr || '';\nconst exitCode = execResult.exitCode || 0;\n\nlet resultText = '';\nif (stdout) {\n  resultText += `✅ Output:\\n\\`\\`\\`\\n${stdout.substring(0, 3000)}\\n\\`\\`\\``;\n}\nif (stderr) {\n  resultText += `\\n\\n⚠️ Errors:\\n\\`\\`\\`\\n${stderr.substring(0, 1000)}\\n\\`\\`\\``;\n}\nif (exitCode !== 0) {\n  resultText = `❌ Command failed (exit code: ${exitCode})\\n\\n${resultText}`;\n}\n\nif (!resultText) {\n  resultText = '✅ Command executed successfully (no output)';\n}\n\nreturn [{\n  json: {\n    chatId: messageData.chatId,\n    responseText: resultText\n  }\n}];"
      },
      "id": "format-command-result",
      "name": "Format Command Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json['chatId'] }}",
        "text": "={{ $json['responseText'] }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Parse Message", "type": "main", "index": 0 }]]
    },
    "Parse Message": {
      "main": [[{ "node": "Check Authorization", "type": "main", "index": 0 }]]
    },
    "Check Authorization": {
      "main": [
        [{ "node": "Execute Command", "type": "main", "index": 0 }],
        [{ "node": "Send Unauthorized Message", "type": "main", "index": 0 }]
      ]
    },
    "Execute Command": {
      "main": [[{ "node": "Format Command Result", "type": "main", "index": 0 }]]
    },
    "Format Command Result": {
      "main": [[{ "node": "Send Response", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-XXT00:00:00.000Z",
  "versionId": "1"
}

